* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #00b0ff;
  height: 50px;
  float: left;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
}

header .logo {
  display: inline-block;
  margin-top: 10px;
  /* margin-bottom; */
  margin-left: 20px;
}

header h2 {
  font-size: 20px;
  letter-spacing: 2px;
  color: #f3faff;
  font-weight: 400;
}

header a {
  text-decoration: none;
}

.menu-dropdown {
  float: right;
  margin-right: 50px;
  font-weight: 300;
  cursor: pointer;
  color: #f3faff;
  display: block;
}

.menu-dropdown ul ul {
  visibility: hidden;
}

.menu-dropdown ul ul {
  margin-top: 15px;
}

/* .menu-dropdown ul li ul li {
  visibility: visible;
  background-color: #00b0ff;
} */

.menu-dropdown ul li:hover > ul li {
  visibility: visible;
  background-color: #00b0ff;
}

.menu-dropdown ul li ul li:hover {
  background-color: #00cafd;
  border: 1px solid white;
}

.menu-dropdown ul li {
  list-style: none;
  float: left;
}

.menu-dropdown li {
  text-align: center;
  padding-top: 10px;
  height: 40px;
  width: 120px;
}

.menu-dropdown li:hover {
  font-weight: 500;
  background-color: #00cafd;
}

#table-bg {
  position: relative;
  background-color: #f3faff;
  width: 1000px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  padding: 0;
  border-radius: 5px;
  box-shadow: 4px 6px 15px 1px #9eadbd;
}

.table-data {
  border-collapse: collapse;
  position: relative;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  top: 60px;
  width: 900px;
  font-size: 14px;
  font-weight: 300;
}

.table-data th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

.table-data td {
  text-align: center;
}

.table-data th {
  padding: 15px;
  background-color: #3a4856;
  color: #f3faff;
  letter-spacing: 1px;
  font-weight: 500;
}

.table-data tr:hover {
  background-color: #9eadbd;
  color: #f3faff;
}

.pagination {
  position: relative;
  top: 75px;
  left: 630px;
  display: inline-block;
  font-weight: 300;
}

.pagination li {
  list-style: none;
  float: left;
  text-align: center;
  padding: 5px;
  margin: 0 10px 0 0;
  width: 25px;
  border-radius: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.pagination a li {
  text-decoration: none;
  color: #3a4856;
}

.pagination a li.active {
  background-color: #3a4856;
  color: #ddd;
  font-weight: 500;
  border: 0;
}

.pagination a li:hover:not(.active) {
  background-color: #9eadbd;
  color: #ffffff;
  font-weight: 500;
}

.total-rows {
  position: absolute;
  opacity: 0.6;
  top: 30px;
  left: 850px;
  font-size: 14px;
}

button {
  border: 0;
  cursor: pointer;
  border-radius: 3px;
}

.table-data td button {
  margin: 0 5px;
  padding: 8px 15px;
}

.tambah {
  position: absolute;
  top: 20px;
  left: 50px;
  margin: 0 5px;
  padding: 8px 15px;
  background-color: #3cc08e;
  color: #ffffff;
  opacity: 0.6;
}

.tambah a {
  text-decoration: none;
  color: #ffffff;
}

.hapus {
  background-color: #ff0808;
  color: #ffffff;
  opacity: 0.6;
}

.ubah {
  background-color: #00b0ff;
  color: #ffffff;
  opacity: 0.6;
}

.tambah:hover {
  opacity: 1;
}

.ubah:hover {
  opacity: 1;
}

.hapus:hover {
  opacity: 1;
}

#popup {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
}

.window {
  width: 400px;
  height: 500px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  /* text-align: center; */
  margin: 50px auto;
}

.window h3 {
  letter-spacing: 2px;
  text-align: center;
  font-weight: 400;
}

#form-daftar {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 15px;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

label {
  margin-top: 5px;
  margin-left: 20px;
  float: left;
}

input[type="text"],
[type="date"],
[type="email"],
select {
  width: 90%;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
}

input[type="submit"] {
  width: 90%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #2eeeb7;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
}

input[type="submit"]:hover {
  background-color: #008a5c;
  font-weight: 500;
}

.close {
  width: 6%;
  height: 25px;
  line-height: 23px;
  background: #3a4856;
  border-radius: 50%;
  border: 3px solid #fff;
  display: block;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  position: absolute;
  top: -10px;
  right: -10px;
}

#popup:target {
  visibility: visible;
}

footer {
  position: relative;
  display: block;
  height: 40px;
  padding: 10px;
  background-color: #00b0ff;
  margin-top: 47px;
}

.license p {
  margin: 10px 0;
  display: block;
  color: #f3faff;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  opacity: 0.8;
}
